<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/mediaqueries.css">
</head>
<body>
    <nav id="desktop-nav">
      <a href="/" class="logo">Arpan Gupta</a>
        <div>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <nav id="hamburger-nav">
        <div class="logo">Arpan Gupta</div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <li><a href="#about" onclick="toggleMenu()">About</a></li>
                <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
                <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
                <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
                <li><a href="loginpopup.html" onclick="toggleLoginForm()">Login</a></li>
            </div>
        </div>
    </nav>
    <section id="profile">
    <div class="section__pic-container">
        <img src="/assets/arpan-profile-pic.jpg" alt="Arpan Gupta profile picture" class="rounded-img" />
    </div>
    <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Arpan Gupta</h1>
        <p class="section__text__p2">Devloper-Programmer-Editor</p>
        <div class="btn1-container">
            <button class="btn btn-color-2" onclick="window.open()">Download CV</button>
            <button class="btn btn-color-1" onclick="location.href='./#contact'">Contact   </button>
        </div>
        <div id="socials-container">
            <img src="/assets/linkedin.png" alt="My linkedin Profile" class="icon" onclick="location.href='https://www.linkedin.com/in/arpan-gupta-/'">
            <img src="/assets/github.png" alt="My github Profile" class="icon" onclick="location.href='https://github.com/arpanhub'">
        </div>
    </div>
</section>
    <section id="about">
        <p class="section__text__p1">Get To Know More</p>
        <h1 class="title">About Me</h1>
        <div class="section-container">
            <div class="about-details-container">
                <div class="about-containers">
                    <div class="details-container">
                        <img src="./assets/experience.png"
                         alt="Experience icon"
                         class="icon"
                         />
                         <h3>Experience</h3>
                         <p>1+ years<br />Web dev</p>
                    </div>
                    <div class="details-container">
                        <img src="./assets/education.png"
                         alt="Experience icon"
                         class="icon"
                         />
                         <h3>Education</h3>
                         <p>Pursuing Bachelors in <br/> Computer Science Engineering</p>
                    </div>
                </div>
                <div class="text-container">
                <p>Hey there! 👋 I'm Arpan, a passionate <strong>developer</strong> and <strong>programmer</strong> with expertise in <strong>C++</strong>, <strong>Java</strong>, and web development technologies like <strong>Angular</strong>, <strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript</strong>. I'm also well-versed in <strong>backend development</strong> using <strong>Node.js</strong> and various modules.
                    
                    With a keen eye for detail and a love for clean, efficient code, I enjoy bringing ideas to life through coding and problem-solving. Whether it's building sleek, responsive websites or developing robust software solutions, I'm always up for the challenge.<br>
                    
                   <br>Beyond coding, I'm also a skilled <strong>editor</strong>, specializing in <strong>commercial edits</strong> and <strong>branding</strong>. Having worked with over 10 clients, I understand the importance of visually appealing content and effective storytelling.
                    
                    Feel free to explore my portfolio to see some of my projects and get to know more about me!
                </p>
                </div>
                </div>
            </div>
        </div>
        <img
        src="./assets/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#experience'"
      />          
    </section>
    <section id="experience">
        <p class="section__text__p1">Explore My</p>
        <h1 class="title">Experience</h1>
        <div class="experience-details-container">
          <div class="about-containers">
            <div class="details-container">
              <h2 class="experience-sub-title">Frontend Development</h2>
              <div class="article-container">
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>HTML</h3>
                    <p>Experienced</p>
                  </div>
                </article>
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>CSS</h3>
                    <p>Experienced</p>
                  </div>
                </article>
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>SASS</h3>
                    <p>Intermediate</p>
                  </div>
                </article>
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>JavaScript</h3>
                    <p>Intermediate</p>
                  </div>
                </article>
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>TypeScript</h3>
                    <p>Basic</p>
                  </div>
                </article>
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>Material UI</h3>
                    <p>Intermediate</p>
                  </div>
                </article>
              </div>
            </div>
            <div class="details-container">
              <h2 class="experience-sub-title">Backend Dev</h2>
              <div class="article-container">
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>PostgreSQL</h3>
                    <p>Basic</p>
                  </div>
                </article>
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>Node JS</h3>
                    <p>Intermediate</p>
                  </div>
                </article>
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>Express JS</h3>
                    <p>Intermediate</p>
                  </div>
                </article>
                <article>
                  <img
                    src="./assets/checkmark.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3>Git</h3>
                    <p>Intermediate</p>
                  </div>
                </article>
              </div>
              
            </div>
            
          </div>
        </div>
        <img
          src="./assets/arrow.png"
          alt="Arrow icon"
          class="icon arrow"
          onclick="location.href='./#projects'"
        />
      </section>
    <section id="projects">
        <p class="section__text__p1">Browse My Recent</p>
        <h1 class="title">Projects</h1>
        <div class="experience-details-container">
          <div class="about-containers">
            <div class="details-container color-container">
              <div class="article-container">
                <img
                  src="./assets/project-1 (2).png"
                  alt="Project 1"
                  class="project-img"
                />
              </div>
              <h2 class="experience-sub-title project-title">Project:NGO</h2>
              <div class="btn-container">
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="location.href='https://github.com/'"
                >
                  Github
                </button>
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="location.href='https://sushiladevitrust.com/'"
                >
                  Live Demo
                </button>
              </div>
            </div>
            <div class="details-container color-container">
              <div class="article-container">
                <img
                  src="./assets/project-2 (2).png"
                  alt="Project 2"
                  class="project-img"
                />
              </div>
              <h2 class="experience-sub-title project-title">Project:Finance</h2>
              <div class="btn-container">
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="location.href='https://github.com/'"
                >
                  Github
                </button>
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="location.href='https://genesisfinance.in/'"
                >
                  Live Demo
                </button>
              </div>
            </div>
            <div class="details-container color-container">
              <div class="article-container">
                <img
                  src="./assets/project-3 (2).png"
                  alt="Project 3"
                  class="project-img"
                />
              </div>
              <h2 class="experience-sub-title project-title">Project: Service Based</h2>
              <div class="btn-container">
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="location.href='https://github.com/'"
                >
                  Github
                </button>
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="location.href='https://genesisltd.in/'"
                >
                  Live Demo
                </button>
              </div>
            </div>
          </div>
        </div>
        <img
          src="./assets/arrow.png"
          alt="Arrow icon"
          class="icon arrow"
          onclick="location.href='./#contact'"
        />
      </section>
      <section id="contact">
        <p class="section__text__p1">Get in Touch</p>
        <h1 class="title">Have Project In Mind? </h1><br>
        <form action="/send_email" method="post" class="contact-form" id="contactForm">
          <div class="contact-info-container">
            <img
              src="./assets/person.png"
              alt="Name icon"
              class="icon contact-icon"
            />
            <input type="text" name="name" placeholder="Your Name" required>
          </div>
          <div class="contact-info-container">
            <img
              src="./assets/email.png"
              alt="Email icon"
              class="icon contact-icon email-icon"
            />
            <input type="email" name="email" placeholder="Your Email" required>
          </div>
          <div class="contact-info-container">
            <img
              src="./assets/projects.png"
              alt="Project icon"
              class="icon contact-icon"
            />
            <input type="text" name="project" placeholder="Project Details" required>
          </div>
          <!-- <input class="contact-button" type="submit" value="Send"> -->
          <button type="submit" class="contact-button">Contact Me</button>
        </form>
        
        <div id="popup" style="display: none;">
          <p>Email sent successfully!</p>
        </div>
      </section>      
      <footer>
        <nav>
          <div class="nav-links-container">
            <ul class="nav-links">
              <li><a href="#about">About</a></li>
              <li><a href="#experience">Experience</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </nav>
        <p>Copyright &#169; 2024 Arpan Gupta. All Rights Reserved.</p>
      </footer>
    <script>
      // script.js
function toggleMenu() {
  const menu = document.querySelector(".menu-links");
  const icon = document.querySelector(".hamburger-icon");
  menu.classList.toggle("open");
  icon.classList.toggle("open");
}

// pop up after the mail has been sent
document.getElementById('contactForm').addEventListener('submit', async function(event) {
  event.preventDefault();
  const formData = new FormData(this);
  const response = await fetch('/send_email', {
    method: 'POST',
    body: formData
  });
  const result = await response.text();
  document.getElementById('popup').style.display = 'block';
  setTimeout(() => {
    document.getElementById('popup').style.display = 'none';
  }, 3000); // Hide popup after 3 seconds
});
    </script>
    <script src="script.js"></script>
</body>
</html>